.scs-paragraph:not(.scs-paragraph-edit) table td {
    border-bottom: 1px solid #ddd;
    display: block;
    text-align: right;
  }

  .scs-paragraph:not(.scs-paragraph-edit) table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }

  @media screen and (max-width: 767px) {
      /**
 * An example CSS of how to render a table responsively.
 * It enables stacking of row data on mobile devices.
 * Only do this for view mode (not for edit mode).
 *
 * On each cell rendered, it adds a user-defined attribute 
 * 'data-label' with value matching the column header text.
 */
 @media screen and (max-width: 767px) {
    .scs-paragraph:not(.scs-paragraph-edit) table {
      border: 0;
    }
  
    .scs-paragraph:not(.scs-paragraph-edit) table caption {
      font-size: 1.3em;
    }
  
    .scs-paragraph:not(.scs-paragraph-edit) table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
  
    .scs-paragraph:not(.scs-paragraph-edit) table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
  
    .scs-paragraph:not(.scs-paragraph-edit) table td {
      border-bottom: 1px solid #ddd;
      display: block;
      text-align: right;
    }
  
    .scs-paragraph:not(.scs-paragraph-edit) table td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
    }
  
    .scs-paragraph:not(.scs-paragraph-edit) table td:last-child {
      border-bottom: 0;
    }
  }}